@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

/********************
MAIN
********************/

.container {
  margin: 0 5% 4em 5%;
  max-width: 1000px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #707070;
}

img {
  margin-bottom: 1.5em;
  display: block;
  max-width: 100%;
}

.brand {
  text-align: center;
}

/********************
TYPOGRAPHY
********************/

h1, h2, h3 {
  font-size: 2rem;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #143774;
}

.brand p, nav a, .article-read-more, .artcile-info, .widget-title {
  letter-spacing: 2px;
  font-size: 0.75rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #1792D2;
}

nav a {
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: 400;
}

.article-body {
  margin: 1em 0 2em 0;
}

.article-read-more {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.article-read-more:hover, .article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.artcile-info {
  margin-bottom: 1em;
  font-size: 0.875rem;
  text-transform: none;
  color: #707070;
}

/********************
HEADER
********************/

header {
  margin-bottom: 4em;
  padding-top: 4em;
  background-color: #edf1f8;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand a {
  color: #143774;
  text-decoration: none;
}

.brand p {
  cursor: default;
}

nav ul {
  margin: 1.3em 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav li {
  margin: 0 auto;
}

nav a {
  color: #757575;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: #143774;
}


/********************
CONTENT
********************/

.article-featured {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding-bottom: 2em;
  ;
  border-bottom: 1px solid #d4d4d4;
}

.article-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  order: 1;
}

.artcile-info {
  order: 2;
}

.article-title, .article-body, .article-read-more {
  order: 3;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

.article-recent .artcile-info {
  margin-bottom: 1em;
}

.widget-title {
  margin-bottom: 1em;
  font-size: 0.875rem;
  font-weight: 700;
  color: #143774;
}

.sidebar-widget {
  margin-bottom: 3em;
  padding: 1em;
  border: 10px solid #EBEBEB;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.widget-image, .widget-image-about-me {
  order: 1;
  margin-bottom: 0.5em;
  width: 100%;
  height: 140px;
  min-height: 140px;
  object-fit: cover;
}

.widget-image-about-me {
  height: 240px;
  min-height: 240px;
}

.widget-recent-post-title {
  order: 2;
}

footer {
  padding: 4em 0;
  text-align: center;
  background-color: #143774;
  color: #ffffff54;
}

/********************
MEDIA QUERIES
********************/

@media (min-width: 850px) {
  .container {
    margin: 0 auto 4em auto;
    padding: 0 4em;
  }
  header {
    padding: 4em 0 1em 0;
  }
  .flex {
    flex-direction: row;
  }
  nav li {
    margin-left: 2em;
  }
  nav ul {
    flex-direction: row;
  }
  main {
    width: 70%;
  }
  aside {
    width: 25%;
    min-width: 200px;
  }
  .article-recent {
    flex-direction: row;
  }
  .article-recent-main {
    width: 65%;
  }
  .article-recent-secondary {
    margin-right: 1em;
    width: 35%;
  }
  .article-image {
    min-height: 240px;
    object-fit: cover;
  }
  .sidebar-widget {
    margin-bottom: 3em;
  }
}